[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/actlizeLA"]
	path = third_party/actlizeLA
	url = git@github.com:DrXuQian/actlizeLA.git
