[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "w4a16_gemm/fpA_intB"]
	path = w4a16_gemm/fpA_intB
	url = git@github.com:DrXuQian/w4a16.git
