*.o
*.so
*.ncu-rep
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.ninja_deps
.ninja_log
build.ninja

# bench binaries (no extension)
bench_conv1d_fwd
bench_conv1d_update
bench_gated_delta_net
bench_fused_rms_norm_gate
bench_gdn_prefill
bench_kda_prefill
bench_layernorm
bench_marlin_moe
bench_topk_gating
bench_moe_align
bench_custom_moe_routing
bench_expand_input_rows
bench_gated_activation
bench_finalize_moe_routing
bench_silu_and_mul
bench_moe_sum
cublas_bf16_bench
cutlass_w4a16_bench
w4a16_gemm/marlin_standalone/marlin_standalone
.bench_profiles/
.bench_logs/
